.maindisplay {
    background: lightgrey;
    height: calc(100% / 3);
    padding: 5% !important;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-size: 4rem;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.subdisplay {
   border-bottom: 1px solid black;
   height: 15%;
   font-size: 2rem;
   overflow: auto;
}

.keypad{
    height: calc(200% / 3);
    margin-left: 20%;
    margin-right: 20%;
}

.keys {
    margin: 0;
    width: 20%;
    height: 15%;
    background: whitesmoke;
    color: black;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.one-line {
    display: inline-block;
}