<form #loginForm ="ngForm" class="form">
    <input type="text" name="email" class="form-control input" placeholder="Email" required> 
    <input type="password" name="password" class="form-control input" placeholder="Password" required>

    <label class="error">{{errorMessage}}</label>
    <label class="sucess">{{sucessMessage}}</label>

    <button (click)=regist(loginForm) class="btn btn-primary registerBtn">Register</button>
    <button (click)=login(loginForm) class="btn btn-primary loginbtn">Login</button>
</form>
